body {
    background-image: url("/assets/images/concert.jpg");
    background-repeat:no-repeat;
    height: 100%;
    background-size: cover;
}

/*-----------------------------------------------------navbar*/

#nav {
    margin-left: 40px;
    font-size: 25px;
    text-align: center;

}
#header{
    text-align: center;
    display: inline-block;
}


a {
    color: #ffa500;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.list-inline {
    top: 30px;
    left: 500px;
    font-size: 25px;
    text-align: center;
}

.jumbotron {
    background-color: transparent;
    color: #ffffff;

}



.w3-card-1{
    text-align: center;
    height:auto;
    width:auto;
    background-color:rgba(0,0,0,0.25);

}

.w3-card-2 {
    text-align: center;

}

.w3-card-3 {
    text-align: center;


}

.w3-card-4 {

    height: 400px;
    width: 420px;
    margin-left: 100px;

}

.w3-card-5 {
    height: 400px;
    width: 420px;
    margin-left: 760px;
    margin-top: -120px;
}



/*------------------------------------------------------glyphicons*/
.glyphicon-calendar {
    color: #ffa500;
    font-size: 50px;
}

.glyphicon-film {
    color: #ffa500;
    font-size: 50px;
}



/*----------------------------------------------------------gallery*/
.gallery{
    
    margin:15px;
    border:1px solid #ccc;
    float:left;
    width:280px;
}
.gallery:hover{
    border:1px solid #777;
}
.gallery img {
    width:100%;
    height:100%;
}
.desc{
    padding:15px;
    text-align: center;
}
.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}
/*--------------------------------------------------buttons*/

.btn {
    background-color: #FF9633;
    border-color:  #FF9633;
    color:#ffffff;
    font-weight: bold;
    border-radius: 23px;
}
.btn:hvr {
    color:#fcff33;
}
button[type="submit"] {
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: #ffa500;
    color: #fafafa;
}



/*----------------------------------------------------------footer*/

footer {
    text-align: center;
    margin-top: 10px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120px;
}

.list-inline {
    margin-top: 20px;
    font-size: 35px;
    color:#FF9633;
    
    
}
.inline-block{
    color:#FF9633  ;
}

    
h4{
    color:#E5E8E8  ;
    
}

h4 a{
    color:#E5E8E8  ;
}
/*------------------------------------------------@media*/
@media(max-width: 992px){
    footer{
        height:200px;
        margin-top: 0;
    } 
     
    header{
        text-align: center;
        display: inline-block;
        }
    callout{
         text-align: center;
        display: inline-block;
        
    }

   
    w3-card-6{
        text-align: center;
        display: inline-block;
    }
   
    w3-card-7{
        text-align: center;
        display: inline-block;
    }
    w3-card-9{
        text-align: center;
        display: inline-block;
        margin-left: 40px;
    }
    w3-card-8{
        text-align: center;
        display: inline-block;
    }
    .list-inline{
        background-color: #000000;
    }

}
