

/*-----------------------------------------------------navbar*/
.nav {
    width:60%;
    height:60px;
    background-color:#000000;
    color:#ff9633;
    font-size:25px;
    padding-top:10px;
}
a {
    color: #FF9633;
}




a:hover {
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}


.jumbotron {
    background-color: transparent;
    color: #ffffff;
    text-align: center;
    margin-left:0px;
}
.list-inline {
    left:500px;
    text-align:center;
    font-size:25px;
    color:#ff9633;
    padding-top:15px;
    height:40px;
    width:60%;
}
.list-inline inline-social {
    padding-bottom:20px;
    color:#ff9633;
    justify-content:center;
    align-items:center;
}


h1 {
    color: #ffffff;
}
h2 {
     color: #ffffff;
     background-color:#000000;
     height:60px;
     padding-top:10px;
     text-align: center;
}
h3{
     color: #FF9633;
} 
h3:hover {
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}


h4 {
    color: #ffffff;
}

p {
    color: #ffffff;
    text-align: center;
}
.w3-card-5 {
    text-align: center;
    height: 250px;
    width: 250px;
    margin-left: 420px;
    margin-top: 20px;
}
.container {
    text-align: center;
    align-items:center;
    justify-content:center;
    margin-top:20px;
}

/*----------------------------------------------------------gallery*/
.gallery{
    
    margin:15px;
    float:left;
    width:280px;
}

.gallery img {
    width:100%;
    height:100%;
}
.desc{
    padding:15px;
    text-align: center;
    color:#ffffff;
}
.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}
form{
    background-color: #d1e3ec;
}
.contact-heading {
    background-color:#000000;
    height:60px;
    width:100%;
    font-size:30px;
    padding-top:10px;
}
/*--------------------------------------------------buttons*/

.btn {
    width:100px;
    background-color: #FF9633;
    border-color: #FF9633;
    color:#ffffff;
    font-weight: bold;
    border-radius: 23px;
    margin-top:20px;
}

button[type="submit"] {
    
    margin-left: 260px;
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: #FF9633;
    color: #fafafa;
}



/*----------------------------------------------------------footer*/


footer {
    height: 70px;
    width:100%;
    background-color: #000000;
    position:relative;
    bottom:0;
    margin-top: 500px;
}
.row {
    height: 70px;
    width:100%;
    background-color: #000000;
}





.inline-block{
    color:#FF9633;
    justify-content:center;
    align-items:center;
}







/*------------------------------------------------@media*/
@media (max-width: 768px){

}
body{
    margin-left:20px;
    text-align: center;
    font: 16px/1.5 sans-serif;
    padding-top: 40px;
    background-color: #000000;
}

.w3-card-4 {
    text-align: center;
    height: 240px;
    width: 300px;
    margin-left:-40px;
    margin-top: 10px;

}
iframe {
    height: 200px;
    width: 275px;
    margin-left: 15px;
   
}
.gallery {
   align-items:center;
   align-content:center;
}
.btn {
    margin-left: 0px;
    background-color: #FF9633;
    border-color:  #FF9633;
    color:#ffffff;
    font-weight: bold;
    border-radius: 23px;
    margin-top:20px;
    
}





.dropdown{
    position:relative;
    display: inline-block;
    font-size: 16px;
    color: #FFF;
}

input[type=checkbox]{
    display: none;
}
label{
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    background-color: #FF9633;
    border-radius: 23px;
    padding: 15px 20px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul{
    position: absolute;
    list-style: none;
    text-align: left;
    width: 100%;
    z-index: 1;
    margin:0;
    padding:0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    display: none;
}
ul li{
    padding: 15px;
    background-color: #000000;
    margin-bottom: 1px;
    cursor: pointer;
    white-space: pre-wrap;
    word-spacing: normal;
    border:5px;
}






input[type=checkbox]:checked ~ ul {
    display: block;
}
.list-inline {
    margin-bottom: 30px;

}
.container {
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left:-20px;
    margin-top:20px;
}



